#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input high ser-icscf/dbinit || true
db_go || true
db_get ser-icscf/dbinit
if [ "$RET" = "true" ]; then
	RETRY=1
	while [ $RETRY -ne 0 ]; do
		PASS=
		db_input high ser-icscf/dbpass || true
		db_go
		db_get ser-icscf/dbpass
		if [ -n "$RET" ]; then
			PASS="-p'$RET'"
		fi
				
		zcat /usr/share/doc/ser-icscf/examples/icscf.sql.gz | mysql -u root $PASS 2>/dev/null > /dev/null
		if [ $? -ne 0 ]; then
			db_input high ser-icscf/dberror || true
			db_go
			db_get ser-icscf/dberror
			if [ "$RET" = "cancel" ]; then
				RETRY=1
			fi
		else
			RETRY=0
		fi
	done
fi

